
// site color declarations
$primary : #CC0B01;
$secondary: #111011;
$tertiary: #555454;
$white: #ffff;

//font declarations
$primary-font: 'Darker Grotesque', sans-serif;
$body-font: 'Roboto', sans-serif;
//global fonts

h1,h2,h3,h4,h5,h6{
    font-family: $primary-font;
}

p,span{
    font-family: $body-font;
}

.le-header{
    
    &__logo{

    }
    &__content{

    }

}



.hero{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    &__text{

    }
    &__cta{

    }
    
}

.fifty-fifty{
    padding: 60px;
    display: flex;

    &__item{
        flex: 1;
        padding: 30px;
    }
}


//mobile
@media(max-width: 1024px){
    .fifty-fifty{
        flex-direction: column;
    }
    .le-header{
        

    }

    .hero{
        height: auto !important;
        padding:30px;
        padding-top:30px;
        padding-bottom: 30px;
    }
}