// load reactbootstrap styles
@import "~bootstrap/scss/bootstrap";

//load global colors
@import './styles/colors.scss';

//load global fonts
@import './styles/fonts.scss';

//hero

html, body {
    // position: relative;
    margin:0;
    padding:0;
}

header {
    margin-top: 0.5rem;
    text-align: center;
}

footer {
    // position: absolute;
    // bottom: 0px;
    height: 55px;
    width: 100%;
    padding: 0.7rem;
    // margin-top: 0.5rem;
    background-color: maroon;
    color: white;
    text-align: center;
    z-index: 2;

}

// #content-wrapper {
//     min-height:100%;
//     position:relative;
// }

.page-contents {
    min-height: calc(100vh - 131px); //vh - header and footer
    margin: 1rem;
    margin-top: 0px;
}

.wrapper .row{
    justify-content: center;
}

.wrapper{
    max-width: 1200px;
    margin: 0 auto;
}

.section{
    padding-top: 90px;
    padding-bottom: 90px;
    &__services{
        background-color:$off-white;
    }
    &__blueprint{
        background: url(./images/blueprinttexture.png);
        background-size:cover;
        background-repeat: no-repeat;
    }
}

.headline{
    h2{
        font-family: $header;
        font-weight: 700;
        text-transform: uppercase;
        font-size: 36px;
        text-align: center;
        margin-bottom: 45px;
    }
}

.card{
    padding: 30px;
    border-radius: 5px;
    &__icon{
        margin-bottom: 25px;
    }
    &__header h3{
        text-align: center;
        font-weight: 700;
    }

    &__card__body{
        padding: 10px;
    }

}

.image_icon{
    display: flex;
    justify-content: center;
    align-items: center;
    img{
        width: 60px;
    }
}

.showcase{
    background-color:white;
    border-radius: 5px;
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    &__body{
        margin-bottom: 15px;
    }
    &__inner{
        padding: 15px;
    }
}

.align-left h2{
    text-align: left !important;
    margin-bottom: 10px;
}


.project__list{
    text-align: center;
    font-size: 22px;
    margin-bottom: 30px;
}

.maps-pin {
    margin-right: 8px;
}

//TABS GENERAL
.tab:hover {
    transition-duration: 1s;
    background-color: #f4cccc;
}

.pagetitle {
    margin-left: 1rem;
    font-weight: bold;
}

.titleheader {
    border: 3px solid red;
    width: 65%;
}

//NAVBAR
.nav-link {
    border-bottom:2px solid transparent;
    &:hover {
        // transition: all 0.5s;
        border-color: red;
    }
}

.nav-link.active {
    border-bottom:2px solid red !important;
}

//HOME TAB
// .carousel-container {
//     height: 500px;
//     width: 500px;
// }

.home-container {
    display: flex;
    flex-direction: row;
    row-gap: 0.5rem;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}

.home-item {
    margin: 0 auto;
}

#home-caro {
    width: 700px !important;
    height: 500px !important;
}

//CAROUSEL
.carousel-caption, .carousel-control-prev-icon, .carousel-control-next-icon {
    background-color: rgba($color: #333333, $alpha: 0.85);
    border-radius: 25px;
    // padding-left: 10px;
    // padding-right: 10px;
}

.carousel-control-prev-icon, .carousel-control-next-icon :hover {
    background-color: rgba($color: #333333, $alpha: 1.0);
}

.rounded-custom {
    border-radius: 0.6rem !important;
    width: 700px !important;
    height: 500px !important;
}


// SERVICES TAB

.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.item {
    flex-grow: 1;
    padding: 20px;
}

.half-width{
    border: 2px solid red;
    width: 55%;
    margin: 0 auto;
}

.subtitle {
    text-align: center;
    font-size: 25px;
    font-weight: bold;
}

//SERVICES TAB
.list {
    list-style: square inside;
    padding-left: 0 !important;

    li {
    // text-align: center;
    font-size: 20px;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 3rem;
    padding-right: 3rem;
    }
}

.details {
    margin: 2rem;
}

//PORTFOLIO STUFF
.portfolio-flex-container {
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
}

.portfolio-item {
    justify-content: space-evenly;
    margin: 50px;
}

.portfolio-img {
    width: 400px;
    height: 300px;
    border-radius: 25px;
}

.link {
    font-size: 16pt;
    color: #e06666;
    &:hover {
        color: #cc0000;
    }
}

.item-name {
    font-size: 16pt;
    font-weight: bold;
}

.item-location {
    font-size: 14pt;
}

.item-category {
    font-size: 14pt;
    font-style: italic;
}

//CONTACT TAB
.contact-address{
    font-size: 14pt;
}

.portfolio-list-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.folio-card {
    margin: 1rem;
    align-self: center;
}

.project-name {
    font-weight: bold;
    font-size: 16pt;
    margin-bottom: 0.25rem;
}

// button[role="tab"][class="active"]{
//     color: #e06666;

// }

//nav tab stuff portfolio
.nav-tabs {
    border-bottom: 1px solid #b9bec3 !important
}
.nav-tabs .nav-link.active {
    border-color: #b9bec3 #b9bec3 red !important;
}

button[role="tab"] {
    color: #495057;
    &:hover{
        color:#e06666;
    }
}

.card {
    padding: 20px !important;
}

//-------------------------------------------//
//MOBILE STYLING

// .mobile-nav {
//     margin: 2em 0em 1em 2em;
//     border: 2px solid red;
//     border-radius: 20px;
//     width: fit-content;
//     &:active{
//         background-color: lightgray;
//     }
// }

//for smaller viewports, just wrap the stupid thing for now
@media (max-width:1275px) {
    .home-container {
        flex-wrap: wrap;
    }
}

//for mobile
@media (max-width:420px) {
    .home-container{
        margin-top: 0;
        flex-direction: column;
        flex-wrap: nowrap;
        row-gap: 0;
        column-gap: 0.5rem;
    }

    #logo {
        max-width: 90vw;
        max-height: 90vh;
        margin-bottom: 20px;
    }

    .home-item {
        flex-grow: 0;
        margin: 0 1rem;
    }
    
    .carousel-caption{
       padding: 0.5rem 0 !important;
    }

    .carousel-caption > p {
        margin-bottom: 0.5rem;
    }

    .carousel-item > img {
        width: 100% !important;
        height: 300px !important;
    }

    #home-caro {
        width: 95% !important;
        height: 300px !important;
    }

    .flex-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    //mobile nav
    .offcanvas {
        width: 50% !important;
    }

    .me-auto.navbar-nav > .nav-link {
        border-bottom: 0px;
        color: black;
    }

    .me-auto.navbar-nav > .nav-link.active {
        // color: red;
        width: fit-content;
    }
}