@use '_variables.scss';

.aboutContainer {
    display: flex;
    flex-direction: row;
}

.aboutItem {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0%;
}

.header {
    border: 2px solid variables.$branding_red;
    margin: 0 auto;
}

.abtPara {
margin: 0 6rem;
margin-bottom: 1rem !important;
}

.pLink {
    color: variables.$branding_red;
    text-decoration: underline;
    // width: max-content !important;
    cursor: pointer;
    &:hover {
        color: variables.$red_secondary;
        // text-decoration: underline;
    }
    &:focus-visible {
      /* Draw the focus when :focus-visible is supported */
      outline: 3px solid variables.$focus_blue;
      outline-offset: 3px;
      text-decoration: underline;
    }
}

//for mobile, tablet, and 200+ browser zoom
@media (max-width: 1024px) {
    .aboutContainer {
        flex-direction: column;
        gap: 1rem;
    }

    .header {
        width: 100%;
    }

    .abtPara {
        margin: 0 2rem
    }
}