@use "variables";
// this is the actual caro component
.caroElem {
    width: 600px;
    box-shadow: 0 2px 0 rgba(5,145,255,0.1); //match btn
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.caroImage {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border: 1px solid gray;
}

.caption {
    font-family: "Playfair", Helvetica, serif !important; 
    font-size: 14pt !important;
    padding: 0.5rem;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border: 1px solid gray;
    background-color: variables.$gray_secondary;
    color: white;
    width: 100%;
}

.entryName {
    font-size: 16pt;
    font-weight: bold;
}

//for mobile
@media (max-width:450px) {
    .caroElem, .caroImage {
        width: 100%;
        height: 200px;
    }

    .entryName, .caption {
        font-size: 10pt !important;
    }
}    