@use '_variables.scss';

.linkedinLogo {
    color: #fff;
    transition: all 0.5s;
    &:hover, &:active {
        cursor: pointer;
        color: #2867b2;
    }
}

.instaLogo {
    color: #fff;
    transition: all 0.5s;
    &:hover, &:active {
        cursor: pointer;
        color: #E1306C;
    }
}

#linkedin-link, #insta-link {
    &:focus-visible {
        /* Draw the focus when :focus-visible is supported */
        outline: 3px solid variables.$focus_blue;
        outline-offset: 3px;
        text-decoration: underline;
      }
}

.footerNavSpacer {
    border-style: solid;
    color: variables.$salmon_accent !important;
}

@supports not selector(:focus-visible) {
    #linkedin-link:focus {
        /* Fallback for browsers without :focus-visible support */
        outline: 3px solid variables.$focus_blue;
        outline-offset: 3px;
    }

    #linkedin-link:focus {
        /* Fallback for browsers without :focus-visible support */
        outline: 3px solid variables.$focus_blue;
        outline-offset: 3px;
    }
}