@use '_variables.scss';

:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
    /* important tag overrides AD defaults*/
    font-family: "Playfair", Helvetica, serif !important; 
    font-size: 14pt !important;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

//ELEMENT BASED GLOBALS!
/* this centers headers, buttons, text
(including carousel text!!)
anything that isn't custom centered in
its own class */
main {
  text-align: center;
}

a {
  color: inherit;
  //text-decoration: none; //ov somewhere else?
}

footer {
  grid-area: footer;
  height: fit-content;
  width: 100%;
  padding: 1rem;
  background-color: variables.$red_secondary;
  color: white;
  text-align: center;
  z-index: 2;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

h1 {
  font-weight: 600 !important;
  font-size: 2rem !important;
}

h2 {
  font-size: 1.6rem !important;
}

h3 {
  font-size: 1.3rem !important;
}

header {
  // margin-top: 0.5rem;
  text-align: center;
}

//MISC
#not-found-number {
  color: variables.$red_secondary;
  font-weight: bolder;
  font-size: inherit;
}

#not-found-flavor {
  font-family: 'Courier New', Courier, monospace;
  background-color: #ccc;
  padding: 0.25rem;
  border-radius: 5px;
}

//-------------------------------------------//
//FOOTER CLASSES, tricky to move bc ternary
.footer-nav {
  color: white;
  text-decoration: none;
  transition-duration: 0.3s;
  &:hover {
      color: variables.$salmon_accent;
      text-decoration: underline;
  }
  &:focus-visible {
    /* Draw the focus when :focus-visible is supported */
    outline: 3px solid variables.$focus_blue;
    outline-offset: 3px;
}
}

.f-active {
  color: variables.$salmon_accent;
  text-decoration: underline;
  &:hover {
      color: rgb(184, 119, 98);
      text-decoration: underline;
  }
}

#m-logo {display: none;}

#d-logo {
  display: block;
  width: 70px !important;
  height: 70px !important;
  margin: auto;
}

//for home and service pages, do not move
.service-header{
  border: 2px solid variables.$branding_red;
  width: 100%;
  margin: 0 auto;
}

//PORTFOLIO STUFF
#portfolio-nav-desktop, #portfolio-nav-mobile{
  z-index: 100;
  position: sticky;
  top: 0px;
  // width: 100vw;
  // background-color: white;
  border-bottom: 2px solid variables.$red_secondary;
}

#portfolio-nav-desktop{
  display: block;
  padding: 0.5rem 2rem;
}

#portfolio-nav-mobile{
  display: none;
  padding: 0.25rem;
}

// .stuck {
//     border-bottom: 2px solid red;
//     box-shadow: 0 5px 2px -2px rgb(190, 190, 190);
// }

//THIS OVERRIDES LAYOUT.CONTENT
.portfolio-page {
  padding: 0 !important;          //AD has: padding: 1rem 3rem;
  max-height: revert !important;  //AD has: max-height: 100vh !important;
  margin-top: 0 !important;
  //margin-right: 0 !important;
  // overflow-x: hidden;
  // background-color: white;
  position: relative;
}

//this is the page content itself, text w nav below until it is sticky
// #portfolio-main {
//   position: relative; //important part
// }

//this is a wrapper for all the portfolio-divs, plus has rootWrapperRef attached
#portfolio-wrapper {
  margin: 0 1rem;
  & h2 {
    text-align: left;
  }
}

//for nav elem, do not move
.sticky-btn {
  display:flex;
  justify-content:center;
  top: 0;
}

@media (prefers-color-scheme: light) {
  html {
    color-scheme: light;
  }
}

//-------------------------------------------//
//AD OVERRIDES
.ant-layout { //ignore these defaults
  font-family: revert;
  font-size: revert;
  // height: 100vh; //skeptical but ok, tried to move inline to avoid "flashing"
}

.ant-layout-content {
  padding: 1rem 3rem;
  //min-height: 100vh !important;
}

.contact-page {
  background: url('../public/images/banner.png') no-repeat;
}

.ant-carousel {
  height: fit-content;
}

.ant-btn-primary, .ant-card {
  font-family: "Playfair", Helvetica, serif !important; 
  font-size: 14pt !important;
}

.ant-card-head-title {
  font-size: 16pt;
}

.ant-btn-primary {
  background-color: variables.$branding_red;
  width: fit-content !important;
  padding: 1rem;
  margin: auto;
  &:hover {
    background-color: rgb(170, 0, 0) !important;
  }
}

.ant-drawer-close {
  margin-left: auto !important;
  font-size: large !important;
}

.slick-arrow {
  opacity: 1 !important;
  background-color: variables.$gray_secondary !important;
  border-radius: 50% !important;
  border: 5px solid variables.$gray_secondary !important;
  outline: 1px solid #fff !important;
  outline-offset: 0px !important;
  padding: 0.5rem !important;
  height: 1rem !important;
  width: 1rem !important;
  transition-property: all;
  transition-duration: 0.5s;
  &:hover {
    background-color: variables.$red_secondary !important;
    border-color: variables.$red_secondary !important
  }
  &:focus-visible {
    /* Draw the focus when :focus-visible is supported */
    outline: 3px solid variables.$focus_blue !important;
    outline-offset: 3px !important;
  }
}

.slick-list, .slick-track {
  border-radius: 20px;
}

.slick-dots > li {
  border: 1px solid variables.$red_secondary;
}

/* Fallback for browsers without :focus-visible support */
@supports not selector(:focus-visible) {
  .footer-nav:focus {
    outline: 3px solid variables.$focus_blue;
    outline-offset: 1px;
  }
  .slick-arrow:focus {
    outline: 3px solid variables.$focus_blue;
    outline-offset: 3px;
  }
  // .slick-dots:focus {
  //   outline: 3px solid variables.$focus_blue !important;
  //   outline-offset: 3px !important;
  // }
}

//-------------------------------------------//
//MOBILE STYLING

// .mobile-nav {
//     margin: 2em 0em 1em 2em;
//     border: 2px solid red;
//     border-radius: 20px;
//     width: fit-content;
//     &:active{
//         background-color: lightgray;
//     }
// }

@media (max-width:1000px) {
  #portfolio-nav-desktop{
      display: none;
  }
  
  #portfolio-nav-mobile{
      display: block;
  }
}

//for mobile
@media (max-width:450px) {
  footer {
    flex-direction: column !important;
    gap: 1rem;
}

  .ant-layout-content {
    padding: 1rem 2rem;
    //min-height: 100vh !important;
  }

  .contact-page {
    background: none;
  }

  .grid-container {
      column-span: 1;
  }

  #m-logo {display: block;}

  #d-logo {display: none;}

  // #mobile-footer-logo {
  //     width: 80px !important;
  //     height: 80px !important;
  // }

  .flex-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
  }

  //mobile nav
  .navbar-offc {
      width: 60% !important;
  }

  .portfolio-offc {
      height: max-content !important;
  }

  .portfolio-offc > .offcanvas-body {
      padding-top: 0 !important;
  }

  .mobile-icon {
      display: block;
  }

  .nav-link {
      display: flex !important;
      flex-direction: row !important;
      &:first-child {
          padding-top: 0px !important;
      }
  }

  #sticky-portfolio-nav a {
      font-size: 10pt;    
  }

  #portfolio-page {
      width: 100vw;
  }
}