.navbar {
    background-color: #222;
    padding: 1rem;
    display: flex;
    align-items: center;
}

.navLink {
    text-decoration: none;
    color: white;
    padding: 0.5rem 1rem;
    padding-top: 0.25rem;
    border-bottom: 2px solid transparent;
    transition-property: border-bottom-color, color;
    transition-duration: 0.5s;
    &:hover, &:active {
        color: salmon;
        border-bottom-color: #ff0000;
    }
}

.navLink, .navLogo {
    display: inline-block;
    height: fit-content;
    width: fit-content;
}

.navLogo {
    margin-right: 1rem;
    &:hover {
        cursor: pointer;
    }
}

.mobileIcon {
    display: none;
}