@use '_variables.scss';

.serviceHeader{
  border: 2px solid variables.$branding_red;
  width: 100%;
  margin: 0 auto;
}

.serviceFlexContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
  
  .item {
    padding: 20px;
  }

  .subtitle {
    // font-size: 25px;
    font-size: revert !important;
  }
  
  .list {
    list-style: square inside;
    padding-left: 0 !important;
    margin-bottom: 0 !important;
  
    li {
    padding: 0.5rem 0;
    }
  
    &:last-child{
        margin-bottom: 1rem;
    }
  }

//for tablet and 200%+ browser zoom
  @media (min-width: 768px) and (max-width: 1024px) {
    .serviceFlexContainer {
      display: flex;
      flex-direction: column;
      // justify-content: center;
    }

    .serviceHeader {
      width: 75%;
    }
  }

//for mobile
@media (max-width: 768px) {
  .serviceFlexContainer {
    display: flex;
    flex-direction: column;
    // justify-content: center;
  }
}